.sidebar{
    background-color:#F5F5F5;
    flex:1;
    font-family: "微软雅黑";

    display: flex;
    flex-direction: column;

    .menu{
     width: 100%;
      mat-icon{
        width: 20px;
      }
    }
    .slimMenu{
      display: flex;
      justify-content: center;
      mat-icon{
        width: 30px;
      }
    }
}
