<p>
  additem works!
</p>
<form  [formGroup]="newItem"  (ngSubmit)="onSubmit()" >
  <mat-form-field >
    <input type="text" matInput placeholder="名称" formControlName="name" >

    <mat-error *ngIf="newItem.controls['name'].valid === false">wwwwww</mat-error>
  </mat-form-field>
  <mat-form-field >
    <input type="password" matInput placeholder="型号" formControlName="marking" >
    <mat-error *ngIf="newItem.controls['marking'].valid === false">wwwwww</mat-error>
  </mat-form-field>
  <mat-form-field >
    <input type="password" matInput placeholder="数量" formControlName="quantity" >
    <mat-error *ngIf="newItem.controls['quantity'].valid === false">wwwwww</mat-error>
  </mat-form-field>
  <mat-form-field >
    <input type="password" matInput placeholder="单位" formControlName="unit" >
    <mat-error *ngIf="newItem.controls['unit'].valid === false">wwwwww</mat-error>
  </mat-form-field>
  <mat-form-field >
    <input type="password" matInput placeholder="位置" formControlName="where" >
    <mat-error *ngIf="newItem.controls['where'].valid === false">wwwwww</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="onSubmit">提交</button>



</form>
