<div class="type-sel">
    <label>请选择物件的种类</label>
    <select placeholder="" [(ngModel)]="selectedBomType" name="item" (change)="changeForm(selectedBomType)">
        <option class="sel-first" value="ADD NEW TYPE">增加一个新主类</option>
        <ng-container *ngFor="let item of bomTypes" > 
            <option class="sel"  *ngIf="item !== 'ADD NEW TYPE'"[value]="item">
                {{item}}
            </option>
        </ng-container>
      
       
    </select>
</div>

<app-dynamic-form *ngIf="selectedBomType" #dynamicForm [configs]="formFieldConfigs" (submit)="onSubmit($event)">
</app-dynamic-form>
