<div class="container">
<app-show-property></app-show-property>
  
  <div class="program">
    <h3>项目</h3>
    <ul>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
    </ul>
  </div>


</div>
