<div class="container">
  <div class="property">
    <span>参数</span>
    <button mat-icon-button><mat-icon svgIcon="modify"></mat-icon></button>
    <div class="chip" *ngIf="detailInfo.property">
      <span  (click)="onclick(item)" [ngClass]="{'unselected': !item.state, 'selected':item.state}" *ngFor="let item of detailInfo.property">{{item.pro}}</span>


  </div>


  </div>
  <div class="inOut">
   <div class="childbox">
      <h3>收入</h3>
      <ul *ngIf="detailInfo.setUpTime">
        <li>
          <p class="in">{{detailInfo.quantity}}pic</p>
          <p class="time">{{detailInfo.setUpTime |  date: 'medium'}}</p>

         </li>


      </ul>
   </div>
   <div class="childbox">
      <h3>支出</h3>
      <ul *ngIf="detailInfo.setUpTime">
        <li>
          <p class="in">{{detailInfo.quantity}}pic</p>
          <p class="time">{{detailInfo.setUpTime |  date: 'medium'}}</p>

         </li>


      </ul>
   </div>

  </div>
  <div class="program">
    <h3>项目</h3>
    <ul>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
      <li>program1</li>
    </ul>
  </div>


</div>
