.container{
   height: 100%;
    width: 500px;
    .property{
        height: 30%;
        width: 100%;
        border-bottom: 1px solid rgb(188, 188, 250);
        h3{
            font:16px '微软雅黑';
            margin:10px;
        }
    .chip{
        span{
            
            margin: 5px 10px;
            padding:5px 10px;
            font: 12px "微软雅黑";
            &:hover{
                cursor: pointer;
            }
        }
        .unselected{
            background: rgb(216, 216, 216);
            transition: all .1s;
        }
        .selected{
            background: rgb(104, 115, 212);
            color:white;
            box-shadow: rgba(0, 0, 0,.6) 1px 3px 6px;
            transition: all .1s;
        }
    }
    
    }
    .inOut{
      
        border-bottom: 1px solid rgb(188, 188, 250);
        display: flex;
        
       
        .childbox{
            display: flex;
            flex:1;
            flex-direction: column;
            h3{
                font:16px '微软雅黑';
                margin:10px;
            }
            ul{
                height:155px;
                overflow-y: scroll;
                li{
                    margin-bottom: 5px;
                    .in{
                        background: rgb(216, 216, 216);
                    }
                    .time{
                        color: rgb(207, 207, 207);
                    }
                }
             
            }
        } 
       
    }
    .program{

        h3{
            font:16px '微软雅黑';
            margin:10px;
        }
        ul{
            height:100px;
            overflow-y: scroll;
        }
    }
}

