label {
    display: block;
    font:400 14px "微软雅黑";
    margin-bottom: 5px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 6px;
    text-indent: .01px;
    text-overflow: '';
    overflow: hidden;
    font-family: inherit;
    font-size: 12px;
    box-sizing:border-box;
    padding: 3px 4px;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.301);
    width: 100%;
    outline: none;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }
