.in-out-box{
    display: flex;
    .fun-up{
        font-size: 25px;
        background-color:rgb(255, 0, 0)
    }
    .list {
      height:200px;
      width:600px;
      overflow-y: scroll;
      p{
        font: 20px "微软雅黑";
        padding: 5px;
      }
      li{
        background: #ECECEC;
        padding:3px;
      }
    }
    .fun-down{
        font-size: 25px;
        background-color:rgb(0, 0, 0)
    }
    .fun-box{

    }
    .warning {
        color: red;

    }
    &>*{
        margin:5px;
    }
    .submit-btn:hover:not([disabled]){
        &:after{
            content:'之后就不能反悔了哦！';
            padding-right:20px;
            background-image:url('../../../assets/zixin.png');
            background-repeat:no-repeat;
            background-position: bottom right;
        }
    }

}
