<form [formGroup]="form"  class="in-out-box">
  <div class="list">
    <p>这些元器件的数量将发生改变</p>
    <ul>
      <li *ngFor="let item of selectedItems">{{item.marking}} 当前数量：{{item.quantity}}， 操作后的数量：{{form.valid?item.warning==='over range'?'入不敷出了哦':item.quantityAfterChange:'请检查您输入的格式'}}</li>
    </ul>
  </div>
  <div class="tool">
      <mat-form-field>
          <input matInput [placeholder]="dir==='in'?'进货：':'出货：'" formControlName="quantity">
        </mat-form-field>
        <div class="fun-box">
          <button mat-mini-fab class="fun-up" (click)="quantityChn('up')">+</button>
          <button mat-mini-fab class="fun-down" (click)="quantityChn('down')">-</button>
        </div>
        <mat-form-field class="example-full-width">
            <textarea matInput  placeholder="追溯用memo：" formControlName="memo"></textarea>
          </mat-form-field>
        <button mat-button class="submit-btn" (click)="onSubmit()" [disabled]="submitDis">确定</button>
  </div>

</form>
