.test{
  width: 300px;
  height: 300px;
  background-color: green;
}
.test2{
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.drag{
  border: 2px dashed red;
}
.drop{
  border: 2px dashed #6B1D5A;
}
header{
  z-index: 200;
}
.flexbox-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}
mat-drawer-content {
  flex: 1;
}
.body-container{
    display: flex;
    flex: 1;
  .drag-line{
    position: absolute;
    height: 100%;
    z-index: 100;
    top: 0px;
    left: 200px;
    width: 7px;

    background-color: rgba(17, 39, 128,.0);
    display: flex;
    justify-content: center;
    &:hover{
      cursor: ew-resize;
    }

    .drag-inner-line{
      background-color: rgba(224, 225, 229,.0);
      border-left: 2px solid #E0E1E5;
      width: 2px;
      z-index: 101;
      height: 100%;

    }
    .dragging{
      background-color: rgba(224, 225, 229,.0);
      border-left: 2px dashed rgba(57, 141, 238, .3);
      width: 2px;
      z-index: 101;
      height: 100%;
    }
  }
}
mat-drawer-container{
  height: 100%;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.drawer {

  display: flex;
  flex-direction: row;

  app-sidebar{
    flex:1;
    display: flex;
    flex-direction: column;
  }
}


