<mat-toolbar class="header-bar">
  <ul class="nav">
    <li class="logo">
      <mat-icon svgIcon="house"></mat-icon>
      <span class="title">{{title}}</span>
    </li>
    <li class="mode">
      <p>元件池</p>
      <p>项目</p>
      <p>联系人</p>
    </li>
    <li class="findItem">
      <app-find></app-find>
    </li>
    <li class="user">
      <div class="user-zone">
        <img [src]="userAvatarImgSrc" alt="" class="avatar">
        <div *ngIf="canShowUsermenu" class="user-menu-box">
          <mat-icon svgIcon="arrow-down" (click)="userMenuToggle()"></mat-icon>
          <ul *ngIf="usermenuIsOpened" class="user-menu">
            <li (click)="openDialog_ava()">修改头像</li>
            <li (click)="openDialog_ps()">修改密码</li>
            <li>意见反馈</li>
            <li (click)="logOut()">注销登录</li>
          </ul>
        </div>
      </div>
      <div *ngIf="canShowLoginBox">
        <a routerLink="/login">登录</a>
        <span>|</span>
        <a routerLink="/signup">注册</a>
      </div>
      <mat-icon svgIcon="theme-light-dark" class="theme"></mat-icon>
    </li>
  </ul>
</mat-toolbar>
