<div class="log-container">



      <form  class="log-innerbox"  [formGroup]="switch" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input type="text" matInput placeholder="用户名" formControlName="ID">

          <mat-error *ngIf="errorQuery.ID">{{errorQuery.ID}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="mode === 'userRegister'">
          <input type="text" matInput placeholder="Email" formControlName="Email">

          <mat-error *ngIf="errorQuery.EM">{{errorQuery.EM}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="密码" formControlName="Password">

          <mat-error *ngIf="errorQuery.PW">{{errorQuery.PW}}</mat-error>
        </mat-form-field>

        <button mat-raised-button *ngIf="mode == 'userLogin'" type="onSubmit">LOGIN</button>
        <button mat-raised-button *ngIf="mode == 'userRegister'" type="onSubmit">SIGN UP</button>
        <p>

          or
          <button *ngIf="mode == 'userLogin'" mat-button type="button" (click)="register()">SIGN UP</button>
          <button *ngIf="mode == 'userRegister'" mat-button type="button" (click)="login()">LOGIN</button>
        </p>


      </form>
      <form  class="log-innerbox" *ngIf="mode==='register'" [formGroup]="switch" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input type="text" matInput placeholder="ID" formControlName="ID">

          <mat-error *ngIf="userRegister.controls['ID'].valid === false">wwwwww</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="Email">

          <mat-error *ngIf="userRegister.controls['Email'].valid === false">wwwwww</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="Password">

          <mat-error *ngIf="userRegister.controls['Password'].valid === false">wwwwww</mat-error>
        </mat-form-field>

        <button mat-raised-button type="onSubmit">SIGN UP</button>
        <p>
          or <button mat-button  type="button" (click)="login()">login</button>
        </p>



      </form>

</div>
