.search{
    width: 180px;
    position: relative;
    .searchInput{
        
        font-size: 14px;
        
       
       
       
       
    }
    .searchIcon{
        position: absolute;
        top: 11px;
        left:-27px;
    }
}
.gaoji {
    position: absolute;
}