
.sign-container {
    display: flex;
    margin: 100px;
    width: 600px;
    height: 400px;
    background-color: white;
    padding-left: 30px;
    box-shadow: 0 0 18px 0 rgba(57, 141, 238, 0.12);

    .signup-button-disable {
        margin: 0 30px;
        width: 200px;
        border: none;
        transition: all 1s;
        color: white;
    }
    .signup-button-able {
        margin: 0 30px;
        width: 200px;
        border: none;
        color: white;
        background-color: #398DEE;
        transition: all 1s;
        &:hover {
            cursor: pointer;
        }
    }
    .sign-innerbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        mat-progress-bar{
          height:2px;
          margin-bottom: 3px;
        }
        app-hint {
            padding: 5px 0 0 0;
            animation: myfirst 0.1s;
        }
        @keyframes myfirst {
            from {
                height: 0;
            }
            to {
                height: 18px;
            }
        }
        .hint {
            font-family: "微软雅黑";
            font-size: 14px;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                margin-right: 5px;
                background-image: url('../../../assets/info.png');
                width: 18px;
                height: 18px;
            }
        }
        .ok {
            font-family: "微软雅黑";
            font-size: 14px;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                margin-right: 5px;
                background-image: url('../../../assets/green.png');
                width: 18px;
                height: 18px;
            }
        }
        .alert {
            font-family: "微软雅黑";
            font-size: 14px;
            color: red;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                margin-right: 5px;
                background-image: url('../../../assets/error.png');
                width: 18px;
                height: 18px;
            }
        }
        .hintbox {
            margin-bottom: 10px;
        }
    }
}
