.table-container{
 display: flex;
 padding-left:6px;
 height:100%;
 flex:1;
 mat-progress-bar{
  position: absolute;
  width:100%;
  z-index: 999;
 }
  .datatable{
    flex: 1;flex: 1;
    margin-right:20px;
    background: url('../../../assets/bg/p5fuben.jpg') no-repeat center;
    background-size:cover;

  }
  app-detail{
    flex: 1 1 400;
  }

}


.find{
  position: fixed;
  margin-right: 30px;
  width: 500px;
  right: 0;
  top: 600px;
}
.uncomplate{
  background-color: red;
  height: 100px;
}
mat-progress-bar .mat-progress-bar-buffer{
  background: rgb(51, 255, 0);
}
mat-progress-bar .mat-progress-bar-fill::after{
  background: rgb(0, 60, 255);
}
