.table-container{
 display: flex;
 padding-left:6px;
 width:1000px;

  .datatable{
    flex: 1;
    margin-right:20px;


  }

}
app-function{

}

.detail,app-detail{
  position: fixed;
  margin-right: 30px;
  width: 500px;
  right: 0;
  top: 300px;

}
.find{
  position: fixed;
  margin-right: 30px;
  width: 500px;
  right: 0;
  top: 600px;
}
