.table-container{
  .datatable{
    width: 65%;
    margin: 30px;

  }

}
app-function{
  position: fixed;
  right: 0;
  top: 100px;
}

.detail,app-detail{
  position: fixed;
  margin-right: 30px;
  width: 500px;
  right: 0;
  top: 300px;

}
.find{
  position: fixed;
  margin-right: 30px;
  width: 500px;
  right: 0;
  top: 600px;
}
