<div class="table-container">
  <mat-progress-bar mode="indeterminate" *ngIf="progressBarSet" style="height: 3px"></mat-progress-bar>
  <ngx-datatable class="datatable"
    [ngClass]="{'dark':dackMode === true, 'material':dackMode === false}"
    [headerHeight]="50"
    [columnMode]="'force'"
    [rowClass]="getRowClass"
    [rows]="rows"
    [scrollbarV]="true"
    [footerHeight]="50"
    [rowHeight]="rowHeight"
    [selectionType]="'multi'"
    [columns]="columns"
    (select)="onSelect($event)">

  </ngx-datatable>
  <!-- <div class="find">
    按名称搜索：<input type="text" (keyup)='updateFilter($event)'>
  </div> -->

  <!-- <app-function [number]="selectedNumber"></app-function> -->


  <router-outlet></router-outlet>
</div>

