<div [formGroup]="group">
  <label>{{config.label}}</label>
  <div class="input-box">
    <input type="text" [formControlName]="config.name" [placeholder]="config.placeholder">
    <p *ngIf="config['error'] 
    && (
      group.controls[config.name].hasError(config['error']['name'].split(',')[0]) 
      ||(config['error']['name'].split(',')[1] && group.controls[config.name].hasError(config['error']['name'].split(',')[1])  )
      )
    && group.controls[config.name].dirty">
    {{config['error']['message']}}
  </p>
  </div>
  
</div>